.context-menu {
    display: flex;
    flex-flow: column;

    width: 250px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.context-menu p {
    border-bottom: 1px solid black;
}