@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');

html,
body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#topBar{
    display: flex;
    height: 67px;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 0;
    align-items: center;
}



#topBar a{
    margin-left: 24px;

    font: 400 20px 'Inter';
    color: black;
    text-decoration: none;
}

#topBar a::after{
    display: block;

    width: 0;
    margin: auto;
    border-bottom: 2px solid black;

    content: '';

    transition: 500ms;
}


#topBar a:hover::after {
    width: 100%;
}


#topLogo{
    height: 47px;
    width: 206px;
    align-self: center;
    margin-left: 10px; 
}

#mainBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    align-self: center;
    font: 700 30px "Roboto";
    color: black;
    text-align: center;
    margin-top: 10px;
}

#registerForm img{
    width: 400px;
    height: 115px;
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 800px;
    height: 670px;
    border: 1px solid black; 
    border-radius: 10px;
}



#registerForm input,
select {
    width: 565px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    padding-left: 10px;
    background-color: #ECECEC;

    font: 400 24px "Roboto";
    color: black;
}


#registerButton {
    width: 565px;
    height: 50px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;

    background-color: #1E3F5A;
    font: 400 24px "Roboto";
    color: white;

    transition: 100ms;
}

#registerButton:hover {
    transform: scale(1.02);

    cursor: pointer;
}



#error {
    font: 400 24px "Roboto";
    color: #BF0707;
    text-align: center;
}
#navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    position: absolute;
    z-index: 99;
    visibility: hidden;

    width: 200px;
    padding: 12px 16px;

    background-color: #BF0707;
    opacity: 0;

    transition: 100ms;
}

#logoWrap:hover #navbar {
    visibility: visible;

    opacity: 1;
}

#navBar button {
    margin: 5px 0;
    padding: 4px 8px;
    border: none;

    background-color: white;

    font: 400 16px "Roboto";

    transition: 100ms;
}

#navBar button:hover {
    background-color: #00AEAE;
    color: white;

    cursor: pointer;
}
