<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
        <link rel="stylesheet" href="../../CSS/homeStyle.css">
    </head>
    <body>
        <div id="topbar">
            <div id="redbox">
                <nav id="navbar">
                    <button id="registeruser" onclick="redirectRegister()">Register an Account</button>
                    <button id="changePassword" onclick="changePassword()">Change Password</button>
                    <button id="logout" onclick="logoutUser()">Logout</button>
                </nav>
            </div>
    
            <a href="/adminhome">Files</a>
            <a href="">Profile</a>

            <form class="search" action="">
                <input type="image" src="/pictures/Search.png">
                <input type="text" placeholder="Search">
            </form>
        </div>

        <div class="title-action">
            <h1 id="title">Files</h1>
            <div class="action">
                <div>
                    <img src="/pictures/Upload.png" width="30px" height="30px" alt="">
                    <button>Upload</button>
                </div>
                <div>
                    <img src="/pictures/New Folder.png" width="45px" height="30px" alt="">
                    <button>New Folder</button>
                </div>
            </div>
        </div>

        <div class="folder-file">
            <div class="folder">
                <img src="/pictures/Folder.png" alt="">
                <p>Folder Name</p>
            </div>
        
            <div class="folder">
                <img src="/pictures/Folder.png" alt="">
                <p>Folder Name</p>
            </div>
        
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>
        
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>Very Long File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>
            
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>

            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>File Name</p>
            </div>
            
            <div class="file">
                <img src="/pictures/File.png" alt="">
                <p>Very Long File Name</p>
            </div>
        </div>
    </body>
</html>