<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
    </head>
    <body>
        <center>
            <form id="changePassword" action="/change-password-post" method="POST">
            <p>{{error}}</p>
                <label for="Old Password"></label>
                <label for="New Password"></label>
                <label for="Confirm Password"></label>

                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required>
                <br>
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
                <br>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                <br>

                <button id="registerbutton" type="submit">Change Password</button>
            </form>
        </center>
    </body>
</html>