<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/querylib.js"></script>
    </head>
    <body>
        <center>
        <div id="loginform">
            <h1>G. Ilagan Designs and Construction</h1>
            <form action="/login-post" method="POST">
                <p id="error">{{errormsg}}</p>
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="Username">
                <br>
                <input type="password" id="password" name="password" placeholder="Password">
                <br>
                <button id="loginButton" type="submit">Login</button>
            </form>
        </div>
        </center>
    </body>
</html>