<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <link rel="stylesheet" href="../../CSS/loginStyle.css">
    </head>
    <body>
        <div id="loginForm">
            <img src ="../../pictures/logo with text.png">
            <form id="loginPost" action="/login-post" method="POST">
                <p id="error">{{errorMsg}}</p>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button id="loginButton" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>