<html>
    <head>
        <title>G. Ilagan Designs and Construction</title>
        <script src="../../JS/querylib.js"></script>
        <script src="../../JS/redirect.js"></script>
    </head>
    <body>
        <nav id="navbar">
            <button id="logout" onclick="logoutUser()">Logout</button>
        </nav>
        
    </body>
</html>